<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="safeRowBoundsEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="localCacheScope" value="STATEMENT" />
        <setting name="jdbcTypeForNull" value="VARCHAR" />
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
        <setting name="callSettersOnNulls" value="true" />
    </settings>

    <typeHandlers>
        <!-- java.sql.Timestamp를 java.util.Date 형으로 반환 -->
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.StringTypeHandler" />
        <typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.StringTypeHandler" />
        <typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.StringTypeHandler" />
        <typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" javaType="java.lang.String" jdbcType="CLOB" />

        <package name="com.franc" />
    </typeHandlers>
</configuration>

